<!DOCTYPE html>
<html>
<head>
    <title>Your Journey Awaits</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f7f7f7; padding: 20px;">
    <table style="max-width: 600px; margin: 0 auto; background-color: white; border-radius: 10px; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);">
        <tr>
            <td style="padding: 20px;">
                <h1 style="color: #333;">Your Journey Begins</h1>
                <p>Hello {name},</p>
                <p>You are about to embark on a journey that will forever change your life. By placing your trust in me, I am committed to making this experience worthwhile for you.</p>
                <p>With every particle of my being, every ounce of energy, and every bit of my soul, I am dedicated to creating a deeply meaningful experience that resonates with you.</p>
                <p>Thank you, {name}, for your trust in me. I assure you that I will not disappoint.</p><br><br>
                <p>If you have any feedback along the way or if you'd like to share your thoughts, please don't hesitate to reply to this email. As a token of my appreciation, I offer you a FREE voucher for one month's use of this application.</p>
                <p>Your verification code is: <strong>{user.verification_code}</strong></p>
                <p>Embrace this journey with an open heart, and let's embark on an unforgettable adventure together.</p>
                <p>Best regards,</p>
                <p>Your Trusted Guide</p>
            </td>
        </tr>
    </table>
</body>
</html>
